#mainBlock {
    display: flex;
    flex-direction: row;
}

#right {
    margin-left: 20px;
}

.square {
    border: 3px solid black;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
}

.square:hover {
    cursor:pointer;
}

#cc:hover {
    cursor:not-allowed;
}

#squareHolder {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

h2 {
    display: inline;
}

